<h1>Hello, World</h1>
<p>
  This is an HTML message. With <span style="color: red;">color</span> and <strong>bold text</strong>.
  To add <em>emphasis</em>.
</p>
<p>
  The secret code is <%= SecureRandom.hex 5 %>.
</p>
